body{
	background-color: #;
}
ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.form-control{
	border-radius: 0;
	border-color: #465158;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	float: left;
}
.titleColor{
	background-color: #3284b7;
	color: #FFF;
	font-size: 1.5rem;
	padding: 15px !important;
}
.formMain{
	width: 100%;
}
.formMain label{
	width: 100%;
	background-color: #465158;
	color: #FFF;
	margin: 0;
	font-size: 1.2rem;
	padding: 5px 5px 5px 10px;
}
.bgMain{
	background-color: #f5f5f5;
	padding-top: 15px;
	padding-bottom: 15px;
}
.bgSub{
	background-color: #70818b;
	color: #FFF;
	font-size: 20px;
}
.brdSub{
	border-top: solid 1px #465158;
	border-left: solid 5px #465158;
	border-bottom: solid 1px #465158;
	border-right: solid 5px #465158;
	font-size: 20px;
	padding: 15px;
}
.cursor{
	cursor: pointer;
}