/* CSS Document for */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#fff;
	background-image: url(../../images/gr.jpg);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
}

.scroll{
width:800px;
height:350px;
overflow:auto;
}

.bg1 {
	background-image: url(../../images/linksgradine.jpg);
	background-repeat: repeat-x;
	padding-left: 15px;
	}
.bg2{
	background-color:#000000;
	}
.bg3{
	background-color:#000000;
	}
.linkcollum {
	width: 154px;
	list-style-image: url(../../images/list.jpg);
	background-repeat:repeat-y;
	font-family: Georgia;
	font-size: 12px;
	font-weight: normal;
	color: #414140;
	text-decoration: none;
	
	padding-left: 15px;
}
.border {
	border: 1px solid #fff;
}

.bannerimg{
	background-image:url(../../images/middlebanner.jpg);
	background-repeat:no-repeat;
	width:678px;
	height:408px;
	text-align:right;
	vertical-align:middle;

}

.menu
{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:normal;
color:#414140;

text-decoration:none;
padding-left:10px;
padding-top:15px;
padding-bottom:0px;
margin-top:0px;
margin-left:5px;
word-spacing:0px;
letter-spacing:0px;
list-style:circle;
text-align:left;

list-style-position: outside;

}
.mainlink{
font-family:Georgia;
font-size:12px;
font-weight:normal;
color:#414140;
white-space:nowrap;
text-decoration:none;

}
.mainlink:hover{
font-family:Georgia;
font-size:12px;
font-weight:normal;
color:#fff;
white-space:nowrap;
text-decoration:none;

}
.mainlinkw{
font-family:Georgia;
font-size:12px;
font-weight:normal;
color:#fff;
white-space:nowrap;
text-decoration:none;

}

.text {
	font-family: Georgia;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.textfield {
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	/*background-color: #DBDBDB;*/
	width:200px;
	height:25px;
	border-radius:5px;
	border: 1px solid #434343;
	text-indent: 2px;
}

.heading {
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	color:#6d6e72;
	white-space:nowrap;
	text-decoration:none;
	text-indent: 12px;
}
.matter {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}

.link1 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: underline;
}

.link1:hover{
	font-family: Georgia;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.border {
	border: 1px solid #000;
}
.footer {
	background-color: #3674b4;
	background-repeat:repeat-x;
}
.footer1 {
	background-color: #000000;
}

.footermatter {

	padding: 0px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.footerlink {
	padding: 0px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
.footerlink:hover {
	padding: 0px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.link {
	padding: 0px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #6e6f71;
	text-decoration: underline;
}
.link:hover {
	padding: 0px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #ed1b26;
	text-decoration: none;
}
.text {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;

}
.button{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color:#3674b4;
	border: thin solid #FFFFFF;
	height: 25px;
	
}
.whitematter {

	padding: 0px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.star {

	padding: 0px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}
.matterbg {
	background-color: #fff;
	

}
.link-h {
	padding: 0px;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.link-h:hover {
	padding: 0px;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-decoration: underline;
}

a{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: none;
	color: #000;
	text-decoration: none;
}
a:hover{
	font-family: Tahoma;
	font-size: 11px;
	font-weight: none;
	color: #6e6f71;
	text-decoration: underline;
}

.border {
	border: 1px solid #000;
}
.matter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}


.head {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#6e6f71;
	white-space:nowrap;
	text-decoration:none;
	text-indent: 12px;
}



.checkbox {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	
	color:black;
	white-space:nowrap;
	text-decoration:none;
	text-indent: 12px;
}

.User {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#ed1b26;
	white-space:nowrap;
	text-decoration:none;
	text-indent: 12px;
}
.User1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:097220;
	white-space:nowrap;
	text-decoration:none;
	text-indent: 12px;
}

.matter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}





.link {
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #6e6f71;
	text-decoration: underline;
}
.link:hover {
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #6292BF;
	text-decoration: none;
}


.button1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color:#FFFFFF;
	text-decoration: none;
	background-color:#6292BF;
	height: 25px;
	
}
.adminheader
{
font-family:Verdana,Arial,Helvetica,sans-serif;
/*color:#ed1b26;*/
color:#3674b4;
}
.adminheader1
{
font-family:Verdana,Arial,Helvetica,sans-serif;
color:#000000;
}

.msg
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#009966;
text-align:left;
}

.tbl_data_dtl
{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
text-decoration:none;
background-color:#FFFFFF;
border:1px solid #999999;
}
.label
{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
text-decoration:none;
background-color:#FBFAF6;

}


.tbl_data
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;

}

.header{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
color:#000000;
text-align:center;
}


.tbl_design
{
background-color:#3674b4;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-align:;
border-color:789843;
font-size:14px;
color:;

}

.tbl_design1
{
background-color:#3674b4;
font-family:Arial, Helvetica, sans-serif;
border-color:#3674b4;
font-size:12px;
color:#FFFFFF;
font-weight:bold;
}

.menucontainer
{
	
	border:#CEE3F6 1px solid;
	background-color:#FFFFFF;
	margin-bottom:0px;
	margin-left:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#6e6f71;
	padding:2.5%;
	text-align:left;
}

.mylink {
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #3674b4;
	text-decoration: underline;
}
.mylink:hover {
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color:#6e6f71;
	text-decoration: none;
}

.usertype
{
	border:#CEE3F6 1px solid;
	background-color:#FFFFFF;
	margin-bottom:0px;
	margin-left:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:01420A;
	padding:2.5%;
	text-align:left;
	width:312px; 
	height:35px;
}

.msg1
{font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#FF0000;
text-align:center;
}


.selectedPage
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:097220;
	white-space:nowrap;
	text-decoration:none;
	text-indent: 12px;
}

.LinkFont {
	padding: 8px 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}
.LinkFont:hover {
	padding: 8px 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #ed1b26;
	text-decoration: underline;
}
.roundbox {
    border: 2px solid #a1a1a1; 
    padding: 4px 6px 4px 2px;
    width: 15px;
    border-radius: 30px;
    color:red;
    font-weight:bold;
    text-align: center;
}